
<div  class="cargando text-center" *ngIf="journeys == undefined">
  <img src="assets/images/loading-9.gif">
</div>


<div class="contenido" *ngIf="journeys != undefined">
	<div class="titulo">
			<h2>{{title}}</h2>
	</div>
	<br>
	<!-- BUSCADORES  -->
		<div id="buscadores" class="container  text-center">
			<div *ngIf="searchselect == 'id'" class="buscador">
				<h3>Buscador de ID</h3>
				<select class="form-control" [(ngModel)]="selecteduser">
					<option value="Identificador" >...</option>
						<option *ngFor="let user of ListUsers" value="{{user.id}}">{{user.name}}&nbsp;{{user.surname}}</option>
				</select>
				<!--<input class="form-control" type="text" value="{{selecteduser}}" disabled> -->
			</div>
				<br>
			<div class="buscador row justify-content-center">
				<h3>Buscador de jornadas</h3>
				<select id="selectsearch" (change)="viewSearchSelect()" class="form-control">
					<option value="id" >Id</option>
					<option value="date" selected >Fecha</option>
					<option value="time">Hora</option>	
				</select>
						<select *ngIf="searchselect == 'time'" class="form-control" id="selecttipohora">
								<option value="initial_time" selected>Hora inicial</option>
								<option value="final_time">Hora final</option>
						</select>
						<span *ngIf="searchselect == 'date'" id="spanbuscadorfecha">
							<input id="diasinput" class="form-control" type="number" placeholder="DD">
								<b>/</b>
							<input id="mesinput" class="form-control" type="number" placeholder="MM">
								<b>/</b>
							<input id="anioinput" class="form-control" type="number" placeholder="AAAA">
						</span>
						<span *ngIf="searchselect == 'time'" id="spanbuscadorhora">
								<input id="horasinput" class="form-control" type="number" placeholder="HH">
										&nbsp;&nbsp;<b>:</b>&nbsp;&nbsp;
								<input id="minutosinput" class="form-control" type="number" placeholder="MM">	
						</span>
						<span *ngIf="searchselect == 'id'">
							<input id="inputid" class="form-control" type="text" value="{{selecteduser}}">
						</span>
						
				<input (click)="addgetParams('','search')" data-toggle="modal" data-target="#appendurlModal" type="button" value="Buscar" class="btn btn-success">
			</div>
		</div>	

		<!-- TABLA TODAS LAS JORNADAS  -->
		 <div style="overflow-x:auto;">
			<table class="table table-light table-hover responsive">
				<tr class="cabecera-tabla">
					<th [ngStyle]="{'background-color':sort_by === 'date' ? '#F39C12' : ''}" 
					(click)="addgetParams('sort_by=date&order='+order,'add')">
						Fecha
							<span *ngIf="sort_by == 'date'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th>Firma</th>
					<th [ngStyle]="{'background-color':sort_by === 'time' ? '#F39C12' : ''}" 
					(click)="addgetParams('sort_by=time&order='+order,'add')">
						Duración [horas]
							<span *ngIf="sort_by == 'time'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th [ngStyle]="{'background-color':sort_by === 'initial_time' ? '#F39C12' : ''}" 
					(click)="addgetParams('sort_by=initial_time&order='+order,'add')">
						Inicio
							<span *ngIf="sort_by == 'initial_time'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th [ngStyle]="{'background-color':sort_by === 'final_time' ? '#F39C12' : ''}" 
					(click)="addgetParams('sort_by=final_time&order='+order,'add')">
						Final
							<span *ngIf="sort_by == 'final_time'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th>
						Operaciones
					</th>
					
					<!-- <th>User #</th> si es admin pues operaciones -->
				</tr>
				<tr class="filadatos" *ngFor="let jornada of journeys">
					<td>{{jornada.date}}</td>
					<td>
						<img class="firmas" width="100" src="{{url}}storage/firmas/{{jornada.signature}}"/>
					</td>
					<td>{{jornada.time}}</td>
					<td>{{jornada.initial_time}}</td>
					<td>{{jornada.final_time}}</td>
					<td>
						<span class="operacionesUser">
							<b>{{jornada.user.dni}}</b>
								
							<button class="btn btn-warning" (click)="setLatLon(jornada.initial_pos,jornada.final_pos,jornada.user)">
								<img src="assets/images/icons8-spy-50.png">&nbsp;
									Inspeccionar
							</button>
							
							<button [routerLink]="['/perfil',jornada.user_id]" class="btn btn-info"> 
								<img style="width: 30px;padding-bottom: 5px;" src="assets/images/icons8-contact-50.png">
								Perfil #{{jornada.user_id}} - {{jornada.user.name}}</button>
							
							<button  [routerLink]="['/jornadas',jornada.user_id]" class="btn btn-info"> 
								<img width="26" src="assets/images/icons8-page-50.png">
								Jornadas #{{jornada.user_id}} - {{jornada.user.name}}</button>
						</span>
					</td>
				</tr>
			</table>
		 </div>

<!-- PAGINACIÓN -->
 <div class="row justify-content-center align-items-center paginacion">
 	<button class="botonpaginas" [disabled]="pageInfo.previous == null" (click)="addgetParams(pageInfo.previous,'slice')">
 		<img width="50" src="assets/images/arrow-left.png">
 	</button>
 	<span id="numpag"><b>{{pageInfo.page}} de {{pageInfo.lastpage}}</b></span>
 	<button class="botonpaginas" [disabled]="pageInfo.next == null" (click)="addgetParams(pageInfo.next,'slice')">
 		<img width="50" src="assets/images/arrow-right.png">
 	</button>
</div>
	<p class="text-center"> <b>Mostrando {{pageInfo.from}}-{{pageInfo.to}} de {{pageInfo.total}} totales</b></p>
</div>


<!-- MODAL DE APPENDGETURLPARAMS   // el de busquedas y busqueda filtrada !! -->
	<div class="modal fade" id="appendurlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">¿Desea además filtrar los resultados?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	      		<h3>Filtrar por : </h3>
	      		<label>Campo
		       		<select id="selectfield" class="form-control">
						<option value="id" selected>ID</option>
						<option value="date" >Fecha</option>
						<option value="time">Duración</option>
						<option value="initial_time">Hora inicial</option>
						<option value="final_time">Hora final</option>
					</select>
				</label>
				<label>Orden
					<select id="selectorder" class="form-control">
						<option value="asc" >Ascendente</option>
						<option value="desc" selected>Descendente</option>
					</select>
				</label>	
				&nbsp;&nbsp;&nbsp;
				<button (click)="addgetParams('','sorted_search')" type="button" class="btn btn-primary" data-dismiss="modal">
					<img src="assets/images/icons8-opera-glasses-50.png">&nbsp;&nbsp;Búsqueda Filtrada
				</button>
				
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button (click)="getJourneysofAll()" type="button" class="btn btn-primary" data-dismiss="modal">
	        	<img  width="30" src="assets/images/icons8-search-50.png">&nbsp;&nbsp;Búsqueda Normal
	    	</button>
	      </div>
	    </div>
  	  </div>
  	 </div>

  	 <!-- MODAL DE INSPECCIONAR LA JORNADA -->
	<div class="modal fade" id="mapsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Ubicaciones del trabajador</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      		<!--<div *ngIf="user_data">
	      			<h4><b>{{user_data.name}}&nbsp;{{user_data.surname}}</b></h4>
		            <h6 *ngIf="user_data.number"><a href="tel:{{user_data.number}}">{{user_data.number}}</a></h6>
		            <h6><a href="mailto:{{user_data.email}}">{{user_data.email}}</a></h6>
	      		</div> -->
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
  	  </div>
	</div>

