
 
<div class="contenido" *ngIf="identity">  
  <!-- Infomsg -->
      <div *ngIf="infomsg != ''" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>¡Antención!</strong> {{infomsg}}
        <button type="button" (click)="setinfomsg('')" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

 <h2>{{title}}</h2>


    <p>
      Usuario tipo --> {{identity.role}}

      <br>
      Detalles del user <br>
      <h1>	{{identity.name}} {{identity.surname}}</h1>
      <br>
      Su token --> <pre>{{token}}</pre> 

      <br>
      <br>

    <!-- <div class="container">
        <div class="row">
          <a class="col-sm divhome" [routerLink]="['/fichar']" >
                  <img  src="https://img.icons8.com/color/96/000000/autograph.png">
                  <button class="btn btn-info">Fichar</button>
             
          </a>
          <a  class="col-sm divhome" [routerLink]="['/perfil']">
                  <img src="https://img.icons8.com/color/96/000000/edit-user-female.png">
                  <button class="btn btn-info">Mi Perfil</button>
            
          </a>
          <a class="col-sm divhome" [routerLink]="['/jornadas']">
                    <img src="https://img.icons8.com/color/96/000000/overview-pages-3.png">
                    <button class="btn btn-info">Mis Jornadas</button>
          </a>
          <a class="col-sm divhome" href="#">
                  <img src="https://img.icons8.com/color/96/000000/rebalance-portfolio--v2.png">
                  <button class="btn btn-info">Gráficos</button>
          </a>
          <a class="col-sm divhome" href="#">
                  <img src="https://img.icons8.com/officel/96/000000/pdf.png">
                  <button class="btn btn-info">Mis Pdf</button>
          </a>
        </div>  
    </div> -->

 <a [routerLink]="['/bar-chart']">Bar Chart</a>
  <a  [routerLink]="['/doughnut-chart']">Doughnut Chart</a>
   <a  [routerLink]="['/radar-chart']">Radar Chart</a>
   <a [routerLink]="['/pie-chart']">Pie Chart</a>
   
      
    <div class="containerhome">
       
          <a class="divhome" [routerLink]="['/fichar']" >
               <img  src="https://img.icons8.com/color/96/000000/autograph.png">
                <button class="btn btn-info">Fichar</button>   
          </a>
          <a  class="divhome" [routerLink]="['/perfil']">
                  <img src="https://img.icons8.com/color/96/000000/edit-user-female.png">
                  <button class="btn btn-info">Mi Perfil</button> 
          </a>
           <a class="divhome" [routerLink]="['/jornadas']">
                    <img src="https://img.icons8.com/color/96/000000/overview-pages-3.png">
                    <button class="btn btn-info">Mis Jornadas</button>
          </a> 
             <a class="divhome"[routerLink]="['/graficos']">
                  <img src="https://img.icons8.com/color/96/000000/rebalance-portfolio--v2.png">
                  <button class="btn btn-info">Gráficos</button>
          </a>
            <a class="divhome" [routerLink]="['/archivos']">
                  <img src="https://img.icons8.com/officel/96/000000/pdf.png">
                  <button class="btn btn-info">Mis Pdf</button>
          </a>
    </div>

<br>
  <hr><hr><hr>
<br>

  <div class="container" *ngIf="identity.role == 'admin'">
        <div class="row">
          <a class="col-sm divhome" [routerLink]="['/usuarios']" >
                  <img src="https://img.icons8.com/color/96/000000/user-group-man-woman.png">
                  <button class="btn btn-info">Usuarios</button>
             
          </a>
          <a  class="col-sm divhome" [routerLink]="['/todas_jornadas']">
                  <img src="https://img.icons8.com/color/96/000000/edit-property.png">
                  <button class="btn btn-info">Jornadas</button>
                  <!-- Tmb puede ser timesheet o time card -->
          </a>
          <a class="col-sm divhome"  href="#">
                    <img src="https://img.icons8.com/color/96/000000/calendar.png">
                    <button class="btn btn-info">Vacaciones</button>
          </a>
          <a class="col-sm divhome" href="#">
                  <img src="https://img.icons8.com/color/96/000000/pdf-2.png">
                  <button class="btn btn-info">Exportar</button>
          </a>
        </div>
    </div>
</div>
  <!-- spuesta,emte falta un div close pero me peta  -->


    <div class="background" *ngIf="!identity">
		  <div class="water">
		  </div>
    
		 
      <div class="card text-center cardhome">
                <div class="card-header cardhometitulo">
                    <h1>WebTime Log</h1>
                </div>
                <div class="card-body cardhomebody">
                          <!-- <img src="https://loading.io/spinners/clock/lg.walking-clock-preloader.gif">
                          <img src="https://loading.io/spinners/hourglass/lg.sandglass-time-loading-gif.gif"> -->

                         <img width="150" src="https://www.pngrepo.com/download/211763/sand-clock.png">
                        
                        <br><br>
                        <button  class="btn btn-info btn-lg btn-block" [routerLink]="['/registro']">Registrarse</button>
                        <button  class="btn btn-info btn-lg btn-block"  [routerLink]="['/login']">Entrar</button>
                </div>
                <div class="card-footer cardhometitulo">   
                   <h4><b> 2019</b></h4>
                </div>
            </div>

 </div>

  <svg>
        <filter id="turbulence" x="0" y="0" width="100%" height="100%">
          <feTurbulence id="sea-filter" numOctaves="3" seed="2" baseFrequency="0.02 0.05"></feTurbulence>
          <feDisplacementMap scale="20" in="SourceGraphic"></feDisplacementMap>
          <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="60s" 
          keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
        </filter>
    </svg>