
 
<div class="contenido" *ngIf="identity">  
 <br> 
 <h2>Inicio --- {{title}}</h2>


    <p>
      Usuario tipo --> {{identity.role}}

      <br>
      Detalles del user <br>
      <h1>	{{identity.name}} {{identity.surname}}</h1>
      <br>
      Su token --> <pre>{{token}}</pre> 

      <br>
      <br>

     <div class="container">
        <div class="row">
          <a class="col-sm divhome" [routerLink]="['/fichar']" >
                  <img  src="https://img.icons8.com/color/96/000000/autograph.png">
                  <button class="btn btn-info">Fichar</button>
             
          </a>
          <a  class="col-sm divhome" [routerLink]="['/perfil']">
                  <img src="https://img.icons8.com/color/96/000000/edit-user-female.png">
                  <button class="btn btn-info">Mi Perfil</button>
            
          </a>
          <a class="col-sm divhome" [routerLink]="['/jornadas']">
                    <img src="https://img.icons8.com/color/96/000000/overview-pages-3.png">
                    <button class="btn btn-info">Mis Jornadas</button>
          </a>
          <a class="col-sm divhome" href="#">
                  <img src="https://img.icons8.com/color/96/000000/rebalance-portfolio--v2.png">
                  <button class="btn btn-info">Gráficos</button>
          </a>
        </div>
    </div>

<br><hr><br>

  <div class="container" *ngIf="identity.role == 'admin'">
        <div class="row">
          <a class="col-sm divhome" [routerLink]="['/usuarios']" >
                  <img src="https://img.icons8.com/color/96/000000/user-group-man-woman.png">
                  <button class="btn btn-info">Usuarios</button>
             
          </a>
          <a  class="col-sm divhome" [routerLink]="['/todas_jornadas']">
                  <img src="https://img.icons8.com/color/96/000000/edit-property.png">
                  <button class="btn btn-info">Jornadas</button>
                  <!-- Tmb puede ser timesheet o time card -->
          </a>
          <a class="col-sm divhome"  href="#">
                    <img src="https://img.icons8.com/color/96/000000/calendar.png">
                    <button class="btn btn-info">Vacaciones</button>
          </a>
          <a class="col-sm divhome" href="#">
                  <img src="https://img.icons8.com/color/96/000000/pdf-2.png">
                  <button class="btn btn-info">Exportar</button>
          </a>
        </div>
    </div>
</div>
  <!-- spuesta,emte falta un div close pero me peta  -->


  <div class="contenido" *ngIf="!identity">  
		 <br> 
		 <h1>WebTime App</h1>


		 	En dos partes una la img y la otra columna Login /Inicio de momento aunque este en la barra
		 	<!-- <img src="https://loading.io/spinners/clock/lg.walking-clock-preloader.gif">
		 	<img src="https://loading.io/spinners/hourglass/lg.sandglass-time-loading-gif.gif"> -->

		 	<img width="400" src="https://www.pngrepo.com/download/211763/sand-clock.png">
		 	
		 	<a  class="nav-link" [routerLink]="['/registro']">Registrarse</a>
		     <a  class="nav-link"  [routerLink]="['/login']">Entrar</a>
  </div>