
<div class="contenido" *ngIf="identity">  
  <!-- Infomsg -->
      <div *ngIf="infomsg != ''" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>¡Antención!</strong> {{infomsg}}<a [routerLink]="['/crear']"><b>Mis Pdf</b></a>
        <b *ngIf="identity.role =='admin'"> ó <a [routerLink]="['/exportar']"><b>Exportar</b></a></b>
        <button type="button" (click)="setinfomsg('')" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

      <div class="heroimage">
        <div>
          <img style="margin-right: 30px;" width="100" src="https://img.icons8.com/color/48/000000/client-company.png">
         <!-- <img width="100" src="https://cpb-us-w2.wpmucdn.com/u.osu.edu/dist/8/41046/files/2016/12/binoculars-2leccg7.gif"> -->
        </div>
        <div id="titulohome">
              <div class="emboss-txt"> Inicio </div>
              <h1>{{identity.name}} {{identity.surname}}</h1>
        </div>
      </div>
      
    <div class="containerhome">
          <span class="divhome" [routerLink]="['/fichar']" >
               <img  src="https://img.icons8.com/color/96/000000/autograph.png">
                <button  class="btn btn-info">Fichar</button>  
          </span>
          <span  class="divhome" [routerLink]="['/perfil',identity.sub]">
                  <img src="https://img.icons8.com/color/96/000000/edit-user-female.png">
                  <button class="btn btn-info">Mi Perfil</button> 
          </span>
           <span class="divhome" [routerLink]="['/jornadas',identity.sub]">
                    <img src="https://img.icons8.com/color/96/000000/overview-pages-3.png">
                    <button class="btn btn-info">Mis Jornadas</button>
          </span> 
             <span class="divhome"[routerLink]="['/graficos']">
                  <img src="https://img.icons8.com/color/96/000000/rebalance-portfolio--v2.png">
                  <button class="btn btn-info">Gráficos</button>
          </span>
            <span class="divhome" [routerLink]="['/archivos']">
                  <img src="https://img.icons8.com/officel/96/000000/pdf.png">
                  <button class="btn btn-info">Mis Pdf</button>
          </span>
    </div>

<span *ngIf="identity.role == 'admin'" >
    <br>
    <br>
      <hr style="height:3px;border:none;color:#3F79B2;background-color:#3F79B2;">
    <br>
    <div class="titulo">
      <h2 style="text-align: center;">Administrador</h2>
    </div>
    <br>
    <br>
</span>

  <div class="containerhome" *ngIf="identity.role == 'admin'">
        <span class="divhome" [routerLink]="['/activar']" >
                 <img src="https://img.icons8.com/color/96/000000/reviewer-female.png">
                  <button class="btn btn-info ">Activar Usuarios</button>
             
          </span>
          <span class="divhome" [routerLink]="['/usuarios']" >
                  <img src="https://img.icons8.com/color/96/000000/user-group-man-woman.png">
                  <button class="btn btn-info ">Usuarios</button>
             
          </span>
          <span  class="divhome" [routerLink]="['/todas_jornadas']">
                  <img src="https://img.icons8.com/color/96/000000/edit-property.png">
                  <button class="btn btn-info">Jornadas</button>
                  <!-- Tmb puede ser timesheet o time card -->
          </span>
          <span class="divhome" [routerLink]="['/graficos_administrador']">
                  <img src="https://img.icons8.com/color/96/000000/doughnut-chart--v2.png">
                  <button class="btn btn-info">Graficos de trabajadores</button>
          </span>
          <span class="divhome"  [routerLink]="['/calendario']">
                    <img src="https://img.icons8.com/color/96/000000/calendar.png">
                    <button class="btn btn-info" >Vacaciones</button>
          </span>
          <span class="divhome" [routerLink]="['/exportar']">
                  <img src="https://img.icons8.com/color/96/000000/pdf-2.png">
                  <button class="btn btn-info">Exportar</button>
          </span>
    </div> 

    <br>
    <br>

</div>
  <!-- spuesta,emte falta un div close pero me peta  -->
 <svg *ngIf="!identity">
        <filter id="turbulence" x="0" y="0" width="100%" height="100%">
          <feTurbulence id="sea-filter" numOctaves="3" seed="2" baseFrequency="0.02 0.05"></feTurbulence>
          <feDisplacementMap scale="20" in="SourceGraphic"></feDisplacementMap>
          <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="60s" 
          keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
        </filter>
    </svg>

    <div class="background" *ngIf="!identity">
		  <div class="water">
		  </div>
   
		 
      <div class="card text-center cardhome">
                <div class="card-header cardhometitulo">
                    <div class="titulo-HOME">
                        <h1>MyJob Log</h1>
                    </div>
                </div>
                <div class="card-body cardhomebody">
                          <!-- <img src="https://loading.io/spinners/clock/lg.walking-clock-preloader.gif">
                          <img src="https://loading.io/spinners/hourglass/lg.sandglass-time-loading-gif.gif"> 
                         <img width="150" src="https://www.pngrepo.com/download/211763/sand-clock.png">-->
                         
                         <img id="gifhome" width="150" src="assets/images/reloj.gif">
                        
                        <br><br>
                        <button id="btnregistro"  class="btn btn-info btn-lg btn-block" [routerLink]="['/registro']">Registrarse</button>
                        <button id="btnlogin" class="btn btn-info btn-lg btn-block" [routerLink]="['/login']" >Entrar</button>
                </div>
                <div class="card-footer cardhometitulo">   
                    <div class="titulo-HOME">
                      <h4><b>2019</b></h4>
                    </div>
                </div>
            </div>

 </div>

  