
<div class="contenido">
		<h1>{{title}}</h1>
	
		<!-- grafico numero de horas por mes en este año -->
		<div class="canvasholder">
				<app-bar-chart></app-bar-chart>
		</div>
		<!-- grafico mishoras/horas totales -->
		<div class="canvasholder">
				<app-doughnut-chart></app-doughnut-chart>
		</div>

		<!-- grafico dia / mes / año -->
		<div class="canvasholder dosgraficos">
				<app-doughnut-chart></app-doughnut-chart>
				<app-doughnut-chart></app-doughnut-chart>
				<app-doughnut-chart></app-doughnut-chart>
		</div>

</div>


