
<div class="contenido">
		<h1>{{title}}</h1>
	
		<div class="canvasholder">
			<div class="canvas-container">
				<app-bar-chart></app-bar-chart>
			</div>
			<div class="canvas-container">
				<app-doughnut-chart></app-doughnut-chart>
			</div>
		</div>

			<br>
			<br>
			<br>
			<br>

		<div class="canvasholder">
			<div class="canvas-container">
				<app-doughnut-chart></app-doughnut-chart>
			</div>
			<div class="canvas-container">
				<app-doughnut-chart></app-doughnut-chart>
			</div>
		</div>

		<div style="width: 70%;margin:100px auto;">
				<app-doughnut-chart></app-doughnut-chart>
		</div>

</div>


