<header id="header">
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <a class="navbar-brand navbar-left" [routerLink]="['home']" >{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li class="nav-item active" *ngIf="!identity">
           <a  class="nav-link disabled" [routerLink]="['registro']">Registrarse</a>
      </li>
       <li class="nav-item active" *ngIf="!identity">
           <a  class="nav-link disabled"  [routerLink]="['login']">Entrar</a>
      </li>
      <li class="nav-item active" *ngIf="identity">
      <a  class="nav-link"[routerLink]="['logout',1]">
                 Salir
      </a>
       </li>
    </ul>
     
  </div>
</nav>
</header>



<!-- CONTENIDO -->
<router-outlet></router-outlet>

<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="btn btn-info" (click)="scrollToTop()">
      Ir Arriba &nbsp;
      <img src="https://img.icons8.com/metro/26/000000/up--v2.png">
  </button>
</div>