
 <div class="contenido">
	

<div class="alert alert-success" *ngIf="status == 'success'">
	Te has identificado correctamente ! 
</div>
<div class="alert alert-danger" *ngIf="status == 'error'">
	No te has identificado !
</div>

<!-- card como la de HOme LOGIN -->
<div class="card text-center cardhome">
                <div class="card-header cardhometitulo">
                   <h2>{{title}}</h2>
                </div>
                <div class="card-body cardentrarbody">
                      		<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
									
									<p>
										<label for="email">Email</label>
										<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required  class="form-control" />
										<span *ngIf="!email.valid && email.touched">
											El email no es válido
										</span>
									</p>

									<p>
										<label for="password">Contraseña</label>
										<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required class="form-control" />
										<span *ngIf="!password.valid && password.touched">
											La contraseña no es válida
										</span>
									</p>

									<input type="submit" value="Entrar" class="btn btn-info" [disabled]="!loginForm.form.valid">

							</form>	  
                </div>
</div>

	
</div>