<div  class="cargando text-center" *ngIf="loading == true">
  <img src="assets/images/loading-9.gif">
</div>

<div class="contenido" *ngIf="loading == false">
	<div class="titulo">
			<h2>{{title}}</h2>
	</div>

	<div class="container">
		
		<br>
			<button class="btn btn-info" [routerLink]="['/crear']">
					<img src="assets/images/icons8-add-user-group-woman-man-50.png">Crear Usuario
				</button>
				
		<div id="buscadorUserList" class="buscador row justify-content-center">
			<h3>Buscador</h3>
			<select id="selectsearch" class="form-control">
				<option value="id" selected>ID</option>
				<option value="name" >Nombre</option>
				<option value="surname">Apellidos</option>
				<option value="email">Email</option>
				<option value="dni">DNI</option>
			</select>
			<input id="inputsearch" class="form-control" type="text" placeholder="Valor">
			<input (click)="addgetParams('','search')" data-toggle="modal" data-target="#appendurlModal" type="button" value="Buscar" class="btn btn-success">
		</div>
	</div>	
	 <div style="overflow-x:auto;">
		<table class="table table-light table-hover responsive">
			<tr class="cabecera-tabla">
				<!-- CABECERA DE TABLA --- CON EL FILTRADO  -->

					<th [ngStyle]="{'background-color':sort_by === 'id' ? '#F39C12' : ''}" 
					(click)="addgetParams('sort_by=id&order='+order,'add')">
						ID #
							<span *ngIf="sort_by == 'id'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th [ngStyle]="{'background-color':sort_by === 'name' ? '#F39C12' : ''}" (click)="addgetParams('sort_by=name&order='+order,'add')">
						Nombre
							<span *ngIf="sort_by == 'name'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th [ngStyle]="{'background-color':sort_by === 'surname' ? '#F39C12' : ''}" (click)="addgetParams('sort_by=surname&order='+order,'add')">
						Apellidos
							<span *ngIf="sort_by == 'surname'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th [ngStyle]="{'background-color':sort_by === 'email' ? '#F39C12' : ''}"(click)="addgetParams('sort_by=email&order='+order,'add')">
						Email
							<span *ngIf="sort_by == 'email'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th [ngStyle]="{'background-color':sort_by === 'dni' ? '#F39C12' : ''}"(click)="addgetParams('sort_by=dni&order='+order,'add')">
						DNI
							<span *ngIf="sort_by == 'dni'">({{ order_now | uppercase }})</span>
							<img *ngIf="order == 'desc'" src="assets/images/down.png">
							<img width="26" *ngIf="order == 'asc'" src="assets/images/up.png">
					</th>
					<th>Teléfono</th>
					<th>Operaciones</th>
				
				<!-- <th>User #</th> si es admin pues operaciones -->
			</tr>
			<tr class="filadatos" *ngFor="let user of users">
					<td>
						{{user.id}} - {{user.role}}
						<p *ngIf="user.active == 0" style="color:red;">No activo</p>
					</td>
					<td>{{user.name}} </td>
					<td>{{user.surname}}</td>
					<td>
						<a href="mailto:{{user.email}}">{{user.email}}</a>
					</td>
					<td>{{user.dni}}</td>
					<td>
						<a *ngIf="user.number != undefined" href="tel:{{user.number}}">{{user.number}}</a>
					</td>
					<td>
						<span  class="operacionesUser" *ngIf="user.active != 0">
							<button class="btn btn-info" [routerLink]="['/perfil',user.id]">
								<img  style="width: 30px;padding-bottom: 5px;" src="assets/images/icons8-contact-50.png">&nbsp;Perfil #{{user.id}}</button>
							<button  class="btn btn-info" [routerLink]="['/jornadas',user.id]">
								<img  width="26" src="assets/images/icons8-page-50.png">&nbsp;Jornadas #{{user.id}}</button>
							<button class="btn btn-warning"  *ngIf="user.role == 'user'" (click)="MakeAdmin(user.id)">
								<img width="26" src="assets/images/icons8-user-shield-50.png">&nbsp;Hacer Admin</button>
							<button class="btn btn-danger" *ngIf="user.id != identity.sub" (click)="SetIdUser(user.id)" >
								<img width="26" src="assets/images/icons8-cancel-50.png">&nbsp;Eliminar</button>
						</span>
						<span  *ngIf="user.active == 0"  class="operacionesUser">
							<button  class="btn btn-warning" *ngIf="user.id != identity.sub" [routerLink]="['/activar']" >
									<img width="26" src="assets/images/icons8-confirm-50.png">&nbsp;Activar Usuarios</button>
						</span>
					</td>
						
			</tr>
		</table>
	 </div>

	 <!-- PAGINACIÓN -->
 <div class="row justify-content-center align-items-center paginacion">
 	<button class="botonpaginas" [disabled]="pageInfo.previous == null" (click)="addgetParams(pageInfo.previous,'slice')">
 		<img width="50" src="assets/images/arrow-left.png">
 	</button>
 	<span id="numpag"><b>{{pageInfo.page}} de {{pageInfo.lastpage}}</b></span>
 	<button class="botonpaginas" [disabled]="pageInfo.next == null" (click)="addgetParams(pageInfo.next,'slice')">
 		<img width="50" src="assets/images/arrow-right.png">
 	</button>
</div>
	<p class="text-center"> <b >Mostrando {{pageInfo.from}}-{{pageInfo.to}} de {{pageInfo.total}} totales</b></p>




	<!-- MODAL DE APPENDGETURLPARAMS -->
	<div class="modal fade" id="appendurlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">¿Desea además filtrar los resultados?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	      		<h3>Filtrar por : </h3>
	      		<label>Campo
		       		<select id="selectfield" class="form-control">
						<option value="id" selected>ID</option>
						<option value="name" >Nombre</option>
						<option value="surname">Apellidos</option>
						<option value="email">Email</option>
						<option value="dni">DNI</option>
					</select>
				</label>
				<label>Orden
					<select id="selectorder" class="form-control">
						<option value="asc" >Ascendente</option>
						<option value="desc" selected>Descendente</option>
					</select>
				</label>
				&nbsp;&nbsp;&nbsp;	
				<button (click)="addgetParams('','sorted_search')" type="button" class="btn btn-primary" data-dismiss="modal">
					<img src="assets/images/icons8-opera-glasses-50.png">&nbsp;&nbsp;Búsqueda Filtrada
				</button>
				
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        <button (click)="getUsersAll()" type="button" class="btn btn-primary" data-dismiss="modal">
	        	<img  width="30" src="assets/images/icons8-search-50.png">&nbsp;&nbsp;Búsqueda Normal
	    	</button>
	      </div>
	    </div>
  	  </div>
    </div>

<!-- MODAL DE CONFIRMACION DE ELIMINAR -->
    <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>Confirmación</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>¿Desea realmente eliminar a este usuario?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="DeleteUser(id_user)">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
</div>
