<div *ngIf="infoerror" class="alert alert-danger">
	{{infoerror}}
</div>

<div style="width: 100%;">
			<br>
				<div style="text-align: center;" class="titulo">
					<h1>{{title}}</h1>
						<h3 *ngIf="code == 401">No Autenticado</h3>
						<h3 *ngIf="code == 403">No posee permisos para realizar esa acción</h3>
						<h3 *ngIf="code == 404">Recurso no encontrado</h3>
						<h3 *ngIf="code == 405">Método no permitido</h3>
						<h3 *ngIf="code == 409">Conflicto</h3>
						<h3 *ngIf="code == 500">Fallo inesperado , por favor inténtelo de nuevo</h3>
				</div>
			<br>
		<div class="contenedor404">
		<button class="btn btn-success" [routerLink]="['/home']">Inicio</button>
				<img width="200" src="assets/images/404.png"> 
		</div>	
	
</div>