<div class="contenido">
		<div class="titulo">
			<h2>{{title}}</h2>
		</div>

		<!-- BUSCADORES  -->
		<div id="buscadores" class="container  text-center">
			<div class="buscador">
				<h3>Usuarios</h3>
				<select  class="form-control" [(ngModel)]="id">
					<option *ngFor="let user of users" value="{{user.id}}">{{user.name}}&nbsp;{{user.surname}}</option>
				</select>
				<input type="button" value="Añadir" (click)="passID()" class="btn btn-success">
			</div>
				<!--<br>
			<div class="buscador row justify-content-center">
				<h3>Añadir</h3>
				<input class="form-control" type="text" value="{{id}}" disabled>
				
			</div>-->
		</div>	
	
		<!-- grafico numero de horas por mes en este año PARA UNOS TRABAJADORES -->
		<div class="canvasholder">
				<line-chart 
						[theId]="idselected" 
						[theColor]="color">
				</line-chart>
		</div>
		<!-- grafico mishoras/horas totales PARA VARIOS TRABAJADORES-->
		<div class="canvasholder">
				<pie-chart 
						[theId]="idselected" 
						[theColor]="color">
				</pie-chart>
		</div>

		<!-- PARA VARIOS TRABAJADORES grafico dia / mes / año -->
		<div class="canvasholder dosgraficos">
				<admin-donut-dia 
						[theId]="idselected" 
						[theColor]="color">		
				</admin-donut-dia>
				<admin-donut-mes 
						[theId]="idselected"
						 [theColor]="color">
				 </admin-donut-mes>
				<admin-donut-anio 
						[theId]="idselected" 
						[theColor]="color">
				</admin-donut-anio> 
		</div>

</div>
