/* You can add global styles to this file, and also import other style files */
/* try to import the styles of the signature pad !! ... */


/* Body */
html{
	height: 100vh;
}
body{
	padding-left: 10%;
	padding-right: 10%;/*width: 100%;
	height: 100%;*/
   
    height: 100vh;
     
}

/* HOME */
.cardhome{
	width: 40%;
	margin: 140px auto;
}
.cardhometitulo{
	background-color: #5cb85c !important;
	color: white !important;
}
.cardhomebody{
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
	color: #3e78b2 !important;
}
.cardentrarbody{
	background : #d0fa7b;
	color: #3e78b2 !important;
}
.cardhomebody label{
	font-size: 1.5vw;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("assets/images/sea.jpg");
  background-size: cover;
}

 .water {
  position: absolute;
  background-image: url("assets/images/sea-map-min.png");
  background-size: cover;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  filter: url("#turbulence");
}


.containerhome{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.divhome{
	margin: 10px;
	width: 350px;
	height: 250px;

	background-color: #beff65;
	border-radius: 10px;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	/*background: linear-gradient(135deg, rgba(252,236,252,1) 0%,rgba(67,231,249,1) 74%,rgba(45,228,255,1) 100%);*/

}



/* div general de contenido */
.contenido {
	/*background-color: #beff65;*/
	
	/*background-color: #BFFF8E;*/
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
	color: #3e78b2 !important;

 	/* text-shadow: 0 0 3px #00FF00;	/*#B7FE82;*/
	padding: 20px 30px;
	min-height: 100vh;
}

/* contenedor de la caj div_left y div_rigth que tienen el canvas y el semaforo respectivamente*/
.contenedor{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.div_left,.div_right{
	width: 500px;
}

#image-firma{
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
}
#image-firma img{
	max-height: 100%;
    max-width: 100%;
    width: 100%;
}



/* Div de cargando  */
.cargando{
	 position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
	background-color: rgba(255,255,255,0.3);
}

/* Canvas signature-pad */
#signature-pad > canvas{
	background-color: white;
}

/* Tablas */
tr:nth-child(even) {
	background-color: #f2f2f2;
}
.filadatos:hover{
	background-color: #fff3bd
}
th{
	/*border: 1px solid #3e78b2 !important;*/
	border: 1px solid black !important;
}

th,td{
  text-align: center !important;
  vertical-align: middle !important;

 border: 1px solid #51D1F6;
}
.cabecera-tabla{
	/*background-color: #51d1f6;*/
	background-color:#28A745;
	color: white;
}

/*  Imagenes de firmas */
.firmas:hover{
	width:250px;
}

/* buscador */
.buscador{
	width: 300px;
	margin: 30px ;
}
#buscadores {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

#spanbuscadorfecha{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
#spanbuscadorhora{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}
#spanbuscadorfecha input,#spanbuscadorhora input{
	width: 85px;
}

/* Botones */
.botones-firma{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 30px auto;
	align-items: center;
}
.botonpaginas{
	background-color: #25B7D3;
	border : 0;
	border-radius: 50%;
}
.botonpaginas:disabled{
	opacity: 0.5;
}

/* btns con estilo de HOme */

/* Paginación y scrollTop */
.paginacion > *{
	margin: 5px 10px;
}
#numpag{
	font-size: 24px;
}

.scroll-to-top {
 position: fixed;
 bottom: 15px;
 right: 15px;
 opacity: 0.5;
 transition: all .2s ease-in-out;
}
.show-scrollTop {
 opacity: 1;
 transition: all .2s ease-in-out;
}

/* Modales concretamente es el estilo para el modal de jornadas search sino poner un id especial para ese modal-dialog y
cuidado con en movil a ver como se ve sino hay que poner otra vez el max-widht de nuevo!!! */
.modal-dialog {
	max-width: inherit !important;
	width: 550px !important;
}

/* GRAFICOS 
.canvasholder{
	display: flex;
	flex-flow: row wrap;
	height: 300px;
}
.canvasholder div{
	width: 50%;
}
.canvas-container div {
	display: block;
	width: 90%;
	margin: 50px auto;
}*/

.canvasholder{
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;
}
.canvasholder  > *{
	width: 100%;
}
.dosgraficos  > *{
	width: 500px;
}
	 

@media (max-width: 576px) {
/*html{
	height: inherit;
}*/
	  body{
		padding-left: 0;
		padding-right: 0;
	}
	.cardhome{
		width: 90%;
	}
	.contenido {
		/*height: 100%;*/
	}
	.buscador{
		width: 240px;
		margin: 10px ;
	}
	.modal-dialog {
		min-width: 340px !important;
		width: 450px !important;

		margin: 0 auto !important;
	}

	#giffirma img{
		margin-left: 10px;
		width: 90%;
	}

	.dosgraficos  > *{
		width: 340px;
	}
	/*.canvasholder{
		height: 150px;
	}
	.canvasholder div{
	width: 90%;
	margin: 40px auto;
	}
	.canvas-container {
		width: 100%;
		height: 100%;
	}*/

}